<div class="ContainerForAll">
  <div class="SectionForClass">
    <div class="Section">
<div class="heading">
  <h1>beauty and luxury<br><Span>Our Categories</Span></h1>
</div>
<div class="Main">
<div class="ContainerBoxes">
      <div class="box1">
        <img src='/assets/training.png' alt="" id="boxesimage">
        <h1>Classes</h1>
        <p>Attend our beauty classes to master elegance and style</p>
        <button id="btn-box">
          Explore <i class="fa-solid fa-arrow-right"></i>
        </button>
        <p></p>
      </div>
      <div class="box2">
        <img src='/assets/bookings.png' alt="" id="boxesimage">
        <h1>Bookings</h1>
        <p>Book your beauty session with ease and style</p>
        <button id="btn-box">
          Explore <i class="fa-solid fa-arrow-right"></i>
        </button>

      </div>
      <div class="box3">
        <img src='/assets/cart.png' alt="" id="boxesimage">
        <h1>Shop</h1>
        <p> our curated selection of quality products</p>
        <button id="btn-box">
          Explore <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      <div class="box4">
        <img src='/assets/policy.png' alt="" id="boxesimage">
        <h1>Policy</h1>
        <p>Learn about our salon rules and guest guidelines</p>
        <button id="btn-box">
          Explore <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>