.ContainerMain{
  width: 100%;
  background-color: rgba(255, 14, 175, 0.096);
  height: 100%;
  margin-top: -15%;
}

.ContainerSection{
  width: 100%;
}
.Section{
  display: flex;
  width:98%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 35px 17px;
  gap: 30px;
}
.Box{
  border-radius:9px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 80%;
  display: flex;
  background-color: white;
  flex-direction: column;

  text-align: center;
  height: 60vh;
}
#boximage{
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.Box h3{
  font-family: 'Sacramento', cursive;
  color: var(--hotpink);
  font-size: 30px;
}
.Box h2{
  margin-top: -17%;
  font-size: 35px;
  color: var(--lightgrey);
}
.Box p{
  margin-top: -8%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--lightgrey);
}
button{
  padding: 13px 15px;
  background-color: var(--hotpink);
  border: none;
  border-radius: 3px;
  color: white;
}

/////////////////////////////////////////////////MIDDLE BOX////////////////////////////
.BoxDiffer{
  border-radius: 9px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.767)),
    url('/assets/shop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 55vh;
}
.BoxDiffer h3{
  font-family: 'Sacramento', cursive;
  color: var(--hotpink);
  font-size: 30px;
}
.BoxDiffer h2{
  margin-top: -17%;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 35px;
  color: white;
}
.BoxDiffer p{
  margin-top: -8%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--lightgrey);
}
/////////////////////////////////////////////////MIDDLE BOX////////////////////////////

@media screen and (min-width:1024px){
  .ContainerMain{
    width: 100%;
    background-color: rgba(255, 14, 175, 0.096);
    height: 100%;
    margin-top: 0%;
    }
  .Section{
    flex-direction:row;
  }
  .Box{
    width: 22%;
    height: 65vh;
  }
  .Box h2{
    margin-top: -15%;
    font-size: 30px;
  }
  .Box p{
    font-size: 11px;

  }

  .BoxDiffer{
    width: 20%;
    height: 65vh;
  } 
  .BoxDiffer h2{
    margin-top: -14%;
    font-size: 30px;
  }
  
  .BoxDiffer p{
    font-size: 11px;

  }
}