<div class="ContainerMain">
  <div class="ContainerSection">
    <div class="Section">
       <!------------------------------------------ normal box ------------------------->
      <div class="Box">
        <img src="assets/services.png" alt="" id="boximage">
        <h3>Beauty</h3>
        <h2>Services</h2>
        <p>we offer haircuts, styling, coloring, and treatments to make you look your best.</p>
  
      </div>
       <!------------------------------------------ normal box  ------------------------->



      <!------------------------------------------ different box ------------------------->
      <div class="BoxDiffer">
        <h3>Beauty</h3>
        <h2>Essentials</h2>
        <p>Discover everything you need for stunning hair, from expert styling to nourishing treatments.</p>
      
      </div>
      <!------------------------------------------ different box ------------------------->
      

       <!------------------------------------------ normal box  ------------------------->
      <div class="Box">
        <img src="assets/training.png" alt="" id="boximage">
        <h3>Beauty</h3>
        <h2>Academy</h2>
        <p>Learn how to style, care for, and create stunning wigs and hairpieces through our expert-led courses.</p>
        
        
      </div>
     <!------------------------------------------ normal box  ------------------------->
    
    
    
    </div>
  </div>
</div>