<div class="Main">
    <div class="ContainerBoxes">
      <div class="box1">
        <h1><i class="fa-solid fa-phone"></i> Phone</h1>
        <p>+27 123 456 789</p>
        <p>+27 123 456 789</p>
      </div>
  
      <div class="box2">
        <h1><i class="fa-solid fa-envelope"></i> Email</h1>
        <p>infoladiesworld012.com</p>
        <p>infoladiesworld012.com</p>
      </div>
  
      <div class="box3">
        <h1><i class="fa-solid fa-location-dot"></i> Location</h1>
        <p>Bloemfontein, South Africa</p>
        <p>Bloemfontein, South Africa</p>
      </div>
    </div>
  </div>
  