/* You can add global styles to this file, and also import other style files */


:root{


    --hotpink : rgba(230, 97, 201, 0.815);
    --lightgrey : rgb(133, 133, 133);
    --GlobalFont: 'Black Han Sans', sans-serif;
}