.ContainerForAll {
  width: 100%;
  height: 85vh;
  font-family:("Poppins", sans-serif);

  display: flex;
  justify-content: center;
  align-items: center;
}

.SectionforAboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  padding: 25px 14px;
}

.SectionforImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  gap: 3rem;
  flex-direction: column-reverse;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Aboutme {
  display: none;
  width: 300px;
}

#Aboutme:hover {
  transform: scale(1.05);
}

.MyStory {
  margin-top: -23%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem 2rem;
  text-align: justify;
}

.MyStory h1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Sacramento', cursive;
  color: var(--hotpink);
  margin-bottom: 1rem;
  position: relative;
}

.MyStory h1 span{
  font-family: 'Black Han Sans', sans-serif;
  
  color:var(--lightgrey);
  font-size: 40px;

}

.MyStory h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background: var(--MainColor);
  margin-top: 0.5rem;
  border-radius: 5px;
}

.MyStory p {
  color: rgb(102, 102, 102);
  font-size: 17px;
  line-height: 1.7rem;
  margin-top: -5%;
  max-width: 600px;

}

.MyStory p span {
  font-weight: bold;
  color: var(--hotpink);

}
//Responsive
@media screen and (min-width: 1024px) {
  .SectionforImage {
    flex-direction: row;
    justify-content:center;
    width: 82%;
    display: flex;
  }

  #Aboutme {
    display: flex;
    width: 350px;
    border-radius: 12px;
  }

  .MyStory {
    text-align: left;
    padding-left: 3rem;
    margin-top: 0%;
  }
  .MyStory h1 {
    text-align:justify;
    font-size: 25px;
  }
  .MyStory p {
    font-size: 16px;
    margin-top: -4%;
  }
 
}
